@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    color: #333;
    margin: 10px; padding: 10px;
    font-size: 16px;
    font-family: 'Noto Sans JP';
}

h1{
  position: relative;
  display: inline-block;
  padding: 0 55px;
  }
  
  h1:before, h1:after{
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
  }
  
  h1:before {left:0;}
  h1:after {right: 0;}

  h2 {
    position: relative;
    padding-bottom: .5em;
    border-bottom: 4px solid #ccc;
  }
  h2::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    z-index: 2;
    content: '';
    width: 20%;
    height: 4px;
    background-color: #3498db;
  }

ul, ol {
    background: #ffffff;
    border-radius: 9px;
    margin-left: 10px;/*はみ出ないように調整*/
    margin-right: 10px;/*はみ出ないように調整*/
    padding: 0.5em 0.5em 0.5em 2em;
  }
  
  ul li, ol li {
    line-height: 1.5;
    padding: 0.2em 0;
  }